@import './base.css';

.bg-peace-grey{
  background: var(--peace-grey);
}

.bg-peace-yellow{
  background: var(--peace-yellow);
}

.text-peace-grey{
  color: var(--peace-grey);
}

.text-peace-yellow{
  color: var(--peace-yellow);
}

.border-peace-grey{
  border-color: var(--peace-grey);
}

.border-peace-yellow{
  border-color: var(--peace-yellow);
}



.text-white{
  color: #fafafa;
} 